@model Northwind.Read.PagedListResult<Northwind.Read.OrdersListQuery.Result>

@{
    ViewBag.Title = "My Orders";
}

<div class="row">
    <h2>My Orders</h2> 
</div>

<div class="row">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Items)
            {
                <tr>
                    <td>@m.OrderDate.ToShortDateString()</td>
                    <td>@m.CustomerName</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_PagingWidget", Model)


