@using Northwind.Web.Infrastructure.Security

@if (User.Identity.IsAuthenticated)
{
    <li><a href="@Url.Action("Index", "Employees")">Employees</a></li>

    if (User.IsInRole(NorthwindUserRoles.Manager))
    {
    }
    
    if (User.IsInRole(NorthwindUserRoles.User))
    {
    }
}
   
