@model Northwind.Read.PagedListResult<Northwind.Read.EmployeesListQuery.Result>

@{
    ViewBag.Title = "Employees";
}

<div class="row">
    <h2>Employees</h2>
</div>

<div class="row">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Title</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Items)
            {
                <tr>
                    <td>@m.Name </td>
                    <td>@m.Title</td>
                    <td><a class="btn btn-default" href="@Url.Action("Details", new {id = m.Id})">Details >></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_PagingWidget")


