<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="northwind.db.updateschema" value="false"/>
    <add key="northwind.db.useprofiler" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="northwind" connectionString="server=.;database=Northwind-Tests;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>