<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="northwind.db.updateschema" value="false"/>
    <add key="northwind.db.useprofiler" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="northwind" connectionString="server=.;database=Northwind-Tests;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="console" xsi:type="Console"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>
</configuration>